@use '../../styles/' as *;

.Message-container {
    display: flex;
    width: 100%;
    align-items: center;

    &.own {
        justify-content: flex-end;
    }

    .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .content-message {
        padding: 12px;
        background-color: rgb(101, 128, 245);
        border-radius: 5px;
        margin: 16px;
        max-width: 50%;

        .img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        &.receiver {
            background-color: rgb(119, 117, 117);
        }
    }

    .create-at {
        font-size: 0.8rem;
        opacity: 0.8;
        order: 1;
    }
}

.first {
    order: 1;
}

.second {
    order: 2;
}

.disabled {
    display: none;
}