@use '../../styles/' as *;


.Profile-container {
    background-color: rgb(19, 19, 19);
    height: 100vh;
    color: #fff;

    .header {
        height: 100px;
    }

    .profile-content {
        height: calc(100vh - ($height-header + 64px));
        @include flex(space-between, center, row);

        .list-friend {
            width: 25%;
            height: 100%;
            // border: 1px solid red;

        }

        .conversation-box {
            width: 75%;
            // border: 1px solid blue;
            height: 100%;
        }
    }


}