@use '../../styles/' as *;


.Profile-container {
    background-color: rgb(19, 19, 19);
    height: 100vh;
    color: #fff;

    .header {
        height: 100px;
    }

    .content-body {
        height: calc(100vh - ($height-header + 64px));
        @include flex(space-between, center, row);

        .left {
            width: 30%;
            height: 100%;

        }

        .right {
            width: 70%;
            border: 1px solid blue;
            height: 100%;
            border-radius: 20px;
        }
    }


}